.SingleNote_Input {
    color: white !important;
    background: transparent;
    border: thin solid #8c8c8c;
    resize: none;
}

.SingleNote_Input:focus {
    color: white !important;
    background: transparent;
    border: thin solid rgb(204, 23, 120) !important;
    box-shadow: 0 1px 0 0 rgb(204, 23, 120) !important;
}

.SingleNote_InputIcon {
    background: #2c2c2c;
    color: white;
    border: thin solid #8c8c8c;
}

.sn-title-input {
    margin: 0;
    padding: 0px 0px 2px 4px !important;
    width: 30%;
    border-bottom: 1.5px solid #cccccc !important;
    color: white;
    border-radius: 2px !important;
}

.sn-title-input-container {
    display: inline;
}

.sn-title-input:focus {
    /* box-shadow: none !important; */
    text-decoration: none !important;
    
}